<div class="wrapper">
  <div class="label-wrapper">
    <h2 class="label-text">Zarządzanie grupą</h2>
    <button type="button" routerLink="/set" (click)="goBack()" class="icon-btn">
      <img src="/assets/plus-icon.svg" alt="Icon" />
    </button>
  </div>
  <div class="group-details">
    <div class="group-info">
      Nazwa
    </div>
    <div class="group-info set-details-input">
      <div class="input-wrapper">
        <input [(ngModel)]="groupDetails.name" #nameInput="ngModel" minlength="5" maxlength="150" required />
        <img src="/assets/error-icon.svg" alt="Icon"
             *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
             class="error-icon"
             matTooltip="Pole nie może być puste i musi zawierać co najmniej 5 znaków."
             matTooltipPosition="below"
             aria-label="Error" />
      </div>
    </div>
  </div>
  <div class="straight-line"></div>
  <div class="group-wrapper">
    <div class="group-data">
      <h4 class="label-text margin-bottom">Dostępne zestawy</h4>
      <div *ngFor="let sets of groupDetails.studySets; let i = index" class="group-sets group-info" (click)="redirectToSet(sets.studySetId)">
        <span>{{sets.name}}</span>
        <button *ngIf="isGroupCreator" class="icon-btn-clear rotate45">
          <img src="/assets/plus-icon.svg" alt="Icon" />
          <span class="tooltip-text">Usuń zestaw z grupy</span>
        </button>
      </div>
    </div>
    <div class="group-data">
      <h4 class="label-text margin-bottom">Użytkownicy</h4>
      <div *ngFor="let users of groupDetails.users; let i = index" class="group-sets group-info">
        <span>{{users.username}}</span>
      </div>
    </div>
  </div>
  <div class="buttons-wrapper">
    <button *ngIf="isGroupCreator" (click)="inviteUser()" class="icon-btn btn">Dodaj użytkownika</button>
    <button *ngIf="isGroupCreator" (click)="saveChanges()" class="icon-btn btn">Zapisz</button>
  </div>
</div>

