<h2 mat-dialog-title>Wybór trybów nauki</h2>
<mat-dialog-content class="dialog-content">
  <div class="toggle-container">
    <span>Tryb wielokrotnego wyboru</span>
    <mat-slide-toggle [(ngModel)]="multipleChoiceSelected"></mat-slide-toggle>
  </div>
  <div class="toggle-container">
    <span>Tryb fiszek</span>
    <mat-slide-toggle [(ngModel)]="flashcardSelected"></mat-slide-toggle>
  </div>
  <div class="toggle-container">
    <span>Tryb wpisywania</span>
    <mat-slide-toggle [(ngModel)]="inputQuizSelected"></mat-slide-toggle>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="saveAndCloseDialog()">Zapisz</button>
  <button mat-button mat-dialog-close>Anuluj</button>
</mat-dialog-actions>
