


:root {
  --primary-bg-color: #32533D;
  --secondary-bg-color: #8ccfff;
  --text-color: #ffffff;
  --text-black: #000000;
  --black-30: #4d4d4d;
  --light-gray: #e0e0e0;
  --login-button-bg: #ffffff;
  --white: #ffffff;
  --login-button-text-color: #4e7a5a;
  --link-text-color: #c2ffb0;
  --grey-text: #504646;
  --high-contrast-bg: #000000; /* Black */
  --high-contrast-text: #ffff00; /* Yellow */
  --green-light-main: #96E6B3;
  --green-light-main-dark-60: #1d7a3f;
  --green-light-main-dark-15: #67db91;
  --green-dark-main: #32533D;
  --light-blue-main: #C4E7F2;
  --green: green;
  --red: red;
  --green-light: #96E6B3;
}


a {
  color: #0366d6;
}

nav{
  background-color: var(--primary-bg-color);  
}

.navbar{
    color: white;
}


body {
  background-image: url('/assets/main-background.svg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
