<div class="container">
  <div class="learn-container">
    <app-multiple-choice *ngIf="currentMethod === 'multipleChoice' && !quizCompleted"
                         [flashcard]="currentFlashcard"
                         [options]="currentOptions"
                         (answerSelected)="onAnswerSelected($event)">
    </app-multiple-choice>
    <app-flashcard *ngIf="currentMethod === 'flashcard' && !quizCompleted"
                   [flashcard]="currentFlashcard"
                   (answerSelected)="onAnswerSelected($event)">
    </app-flashcard>
    <app-input-quiz *ngIf="currentMethod === 'input-quiz' && !quizCompleted"
                    [flashcard]="currentFlashcard"
                    (answerSelected)="onAnswerSelected($event)">
    </app-input-quiz>
  </div>
</div>
