<div class="container">
  <div class="learn-container">
    <app-multiple-choice *ngIf="currentMethod === 'multipleChoice'"
                         [term]="currentTerm"
                         [definition]="currentDefinition"
                         [options]="currentOptions"
                         (answerSelected)="onAnswerSelected($event)">
    </app-multiple-choice>
    <app-flashcard *ngIf="currentMethod === 'flashcard'"
                         [term]="currentTerm"
                         [definition]="currentDefinition"
                         (answerSelected)="onAnswerSelected($event)">
    </app-flashcard>
  </div>
</div>
