body {
}
.container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-color);
  align-items: center;
  justify-content: center;
  height: 80vh;
  border-radius: 40px;
  padding: 50px;
}

.learn-container{
    width: 100%;
    height: 100%;
}

