<div class="wrapper">
  <div class="item">
    <h3>Nazwa użytkownika</h3>
    <input placeholder="Podaj nową nazwę użytkownika" />
  </div>
  <div class="item">
    <h3>Opis</h3>
    <textarea></textarea>
  </div>
  <div class="item">
    <h3>Avatar</h3>
    <div class="avatar-row">
      <div class="user-avatar">
        <img [src]="userAvatarUrl" alt="User Avatar" />
      </div>
      <input type="file" (change)="onAvatarSelected($event)" hidden #avatarInput>
      <button (click)="avatarInput.click()">Dodaj nowe zdjęcie</button>
      <button (click)="removeAvatar()">Usuń zdjęcie</button>
    </div>
  </div>
  <div class="save-wrapper">
    <button (click)="saveChanges()">Zapisz zmiany</button>
  </div>
</div>
