<div class="wrapper">
  <div class="item">
    <h3>Nazwa użytkownika</h3>
    <input placeholder="Podaj nową nazwę użytkownika" />
  </div>
  <div class="item">
    <h3>Opis</h3>
    <textarea></textarea>
  </div>
  <div class="item">
    <h3>Avatar</h3>
    <div class="avatar-row">
      <div class="user-avatar">
        <img src="/assets/temp-avatar.png" alt="User Avatar" />
      </div>
      <button>Dodaj nowe zdjęcie</button>
    </div>
  </div>
  <div class="save-wrapper">
    <buttonw>Zapisz zmiany</buttonw>
  </div>
</div>
