/* login.component.css */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.login-panel {
  width: 100%;
  max-width: 400px;
  padding: 20px 35px 35px 35px;
  background-color: var(--primary-bg-color);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-title-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;

}

.login-icon {
  width: 5rem;
  height: auto;
  margin-left: 8px; 
}


.login-title {
  color: #ffffff;
  font-size: 2.75rem;
  margin: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
}
.icon-input {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50.0%;
  height: 22px; 
  width: auto;
}

.form-group {
  margin-bottom: 0px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--grey-text);
  background-color: var(--green-light-main);
}

.forgot-password {
  display: block;
  margin: 5px 0px 15px 5px;
  color: #ffffff;
  text-decoration: none;
  text-align:left;
}

.btn-login {
  background-color: var(--green-light-main); 
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

  .btn-login:hover {
    background-color: var(--green-light-main-dark-15); 
  }

.sign-up-btn {
  width: 100%;
  margin-top: 0px;
}

.register-link{
    display: flex;
  width: 100%;
}

.register-link a {
  text-decoration: none;
}


.decorator {
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around; 
}

.line {
  flex-grow: 1;
  background: #FFFFFF;
  height: 1px; 
  margin: 10px 0px;
}

.error-border {
  border: 2px solid red;
}

.text {
  white-space: nowrap;
  padding: 0 10px; 
  color: #FFFFFF; 
}


@media (max-width: 768px) {
  .login-panel {
    margin: 20px;
  }
}

.error-message {
  color: #ffffff;
  font-weight: 500;
  background-color: #ba1a1a;
  padding: 3%;
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  margin: 20px auto 0px;
}
