<div class="login-wrapper">
  <div class="login-panel">
    <div class="login-title-with-icon">
      <h1 class="login-title">learn.it</h1>
      <img src="/assets/project-logo.svg" alt="Icon" class="login-icon" />
    </div>
    <form [formGroup]="form" class="login-form" (ngSubmit)="onSubmit()">
      <div class="form-group icon-input">
        <label for="username">
          <img src="/assets/user-icon.svg" alt="User Icon" class="input-icon" />
        </label>
        <input type="text" class="form-control" id="username" placeholder="Nazwa użytkownika" formControlName="username" [class.error-border]="errorMessage">

      </div>
      <div class="form-group icon-input" >
        <label for="password">
          <img src="/assets/password-icon.svg" alt="Password Icon" class="input-icon" />
        </label>
        <input type="password" class="form-control" id="password" placeholder="Hasło" formControlName="password" [class.error-border]="errorMessage">
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
        <div class="line"></div>
      </div>
     
      <a href="#" class="forgot-password">Nie pamiętasz hasła?</a>
      <button type="submit" class="btn-login">Zaloguj się</button>
      <div class="register-link">
        <a routerLink="/register" class="btn-login sign-up-btn">Zarejestruj się</a>
      </div>
    </form>
  </div>
</div>
