<div class="wrapper">
  <div class="label-wrapper">
    <h2 class="label-text">Strona główna</h2>
    <button routerLink="/set" class="newset-btn">Stwórz nowy zestaw</button>
  </div>

  <div class="data-wrapper">
    <div class="row">
      <div class="data-label">
        <span>Ostatnia aktywność</span>
      </div>
      <ng-container *ngIf="userLastActivity && userLastActivity.length; else noActivityTemplate">
        <div class="data-item" *ngFor="let item of userLastActivity; let i = index" (click)="redirectToSet(item.id)">
          <div class="item-left">
            <img src="/assets/expand-down-icon.svg" alt="Icon" class="rotate270" />
            {{item.name}}
          </div>
          <div class="item-right min-width-250">
            <img [src]="item.creator.avatar ? item.creator.avatar : '/assets/temp-avatar.png'"
                 alt="userAvatar" class="user-avatar" />
            {{item.creator.username}}
            <img *ngIf="item.visibility == 1; else privatePlaceholder" src="/assets/lock-icon.svg"
                 alt="Private Icon" class="private-icon-placeholder" />
            <ng-template #privatePlaceholder>
              <div class="private-icon-placeholder"></div>
            </ng-template>
          </div>
        </div>
      </ng-container>
      <ng-template #noActivityTemplate>
        <div class="no-data">Brak ostatniej aktywności.</div>
      </ng-template>
    </div>
    <div class="main-content">
      <div class="recommended row">
        <div class="data-label">
          <span>Polecane dla Ciebie!</span>
        </div>
        <ng-container *ngIf="studySets && studySets.length; else noRecommendedSetsTemplate">
          <div class="data-item" *ngFor="let item of studySets; let i = index" (click)="redirectToSet(item.id)">
            <div class="item-left">
              <img src="/assets/expand-down-icon.svg" alt="Icon" class="rotate270" />
              {{item.name}}
            </div>
            <div class="item-right">
              {{item.creator.username}}
              <img [src]="item.creator.avatar ? item.creator.avatar : '/assets/temp-avatar.png'" alt="userAvatar" class="user-avatar" />
            </div>
          </div>
        </ng-container>
        <ng-template #noRecommendedSetsTemplate>
          <div class="no-data">Brak polecanych zestawów.</div>
        </ng-template>
      </div>
      <div class="achievements row">
        <div class="data-label">
          <span>Twoje osiągnięcia</span>
        </div>
        <ng-container *ngIf="userAchievements && userAchievements.length; else noAchievementsTemplate">

        </ng-container>
      </div>
      <ng-template #noAchievementsTemplate>
        <div class="no-data">Brak zdobytych osiągnieć.</div>
      </ng-template>
    </div>
  </div>
</div>
