<div class="container">
  <div class="term-wrapper">
    <div class="term-top">
      <button (click)="markAsDifficult()" class="icon-btn">
        <img [src]="needsMoreRepetitions ? '/assets/star-filled-icon.svg' : '/assets/star-icon.svg'" alt="Icon" />
      </button>
      <button (click)="goBack()" class="icon-btn">
        <img src="/assets/sound-max-icon.svg" alt="Icon" />
      </button>
      <button (click)="goBack()" class="icon-btn">
        <img src="/assets/edit-icon.svg" alt="Icon" />
      </button>
    </div>
    <div class="term-data">
      <h3>{{ flashcard.term }}</h3>
    </div>
    <div class="input-wrapper">
      <input [(ngModel)]="userInput" type="text" placeholder="Wpisz pojęcie...">      
      <button (click)="skipAnswer()" class="skip-btn">
        Pomiń
      </button>
      <button (click)="checkAnswer(userInput)">
        <img src="/assets/arrow-right-icon.svg" alt="Icon" class="icon-btn" />
      </button>
    </div>
  </div>  
</div>
