<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
    <div class="container">
      <a class="nav-text nav-title" [routerLink]="['/']">learn.it</a>
      <img src="/assets/project-logo.svg" alt="Icon" class="logo-icon" />
      <div class="search-container">
        <label for="search" class="search-icon-label">
          <img src="/assets/search-icon.svg" alt="Icon" class="search-icon" />
        </label>
        <input #searchInput type="search" placeholder="Wyszukaj materiały do nauki">
      </div>

      <div class="nav-icons">
        <button routerLink="/set" class="icon-btn">
          <img src="/assets/file-icon.svg" alt="Icon" />
        </button>
        <button routerLink="/" class="icon-btn">
          <img src="/assets/home-icon.svg" alt="Icon" />
        </button>
        <button routerLink="/create-set" class="icon-btn">
          <img src="/assets/plus-icon.svg" alt="Icon" />
        </button>
        <div class="dropdown" [class.show]="showDropdown">
          <button class="icon-btn" (click)="toggleDropdown()">
            <img src="/assets/expand-down-icon.svg" alt="Icon" />
          </button>
          <div class="dropdown-menu" *ngIf="showDropdown">
            <div class="dropdown-wrapper">
              <a href="#">Profil</a>
              <a href="#">Ustawienia</a>
              <a href="#" (click)="focusOnSearchInput(); $event.preventDefault()">Wyszukaj</a>
              <a href="#">Dodaj zestaw</a>
              <a href="#">Pomoc</a>
              <a routerLink="/login">Wyloguj</a>
            </div>
          </div>
        </div>
      </div>
      <div class="user-avatar">
        <img src="/assets/temp-avatar.png" alt="User Avatar" />
      </div>

    </div>
  </nav>
</header>
