<div class="wrapper">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="item">
      <h3>Obecne hasło</h3>
      <div class="input-wrapper">
        <input type="password" formControlName="currentPassword" placeholder="Obecne hasło" />
        <img *ngIf="f.currentPassword.invalid && (f.currentPassword.dirty || f.currentPassword.touched)" src="/assets/error-icon.svg" class="error-icon"
             matTooltip="Obecne hasło jest wymagane." />
      </div>
    </div>
    <div class="item">
      <h3>Nowe hasło</h3>
      <div class="input-wrapper">
        <input type="password" formControlName="newPassword" placeholder="Nowe hasło" />
        <img *ngIf="f.newPassword.invalid && (f.newPassword.dirty || f.newPassword.touched || f.password?.errors?.pattern)" src="/assets/error-icon.svg"
             class="error-icon" matTooltip="Hasło musi zawierać co najmniej 8 znaków, w tym jedną dużą literę, jedną małą literę i cyfrę." />
      </div>
    </div>
    <div class="item">
      <h3>Powtórz nowe hasło</h3>
      <div class="input-wrapper">
        <input type="password" formControlName="confirmPassword" placeholder="Powtórz nowe hasło" />
        <img *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)" src="/assets/error-icon.svg" class="error-icon"
             matTooltip="Hasła muszą być takie same." />
      </div>
    </div>
    <div class="save-wrapper">
      <button type="submit" [disabled]="changePasswordForm.invalid">Zapisz zmiany</button>
    </div>
  </form>
</div>
