<div class="container">
  <div class="term-wrapper">
    <div class="term-top">
      <button (click)="goBack()" class="icon-btn">
        <img src="/assets/star-icon.svg" alt="Icon" />
      </button>
      <button (click)="goBack()" class="icon-btn">
        <img src="/assets/sound-max-icon.svg" alt="Icon" />
      </button>
      <button (click)="goBack()" class="icon-btn">
        <img src="/assets/sort-random-icon.svg" alt="Icon" />
      </button>
      <button (click)="goBack()" class="icon-btn">
        <img src="/assets/edit-icon.svg" alt="Icon" />
      </button>
    </div>
    <div (click)="toggleFlashcard()" class="term-data">
      <h3>{{ displayedTerm }}</h3>
    </div>
  </div>
  <div class="buttons-wrapper">
    <button (click)="showTerm()" class="icon-btn">
      <img src="/assets/arrow-right-icon-long.svg" alt="Icon" />
    </button>
    <button (click)="checkAnswer()" class="icon-btn">
      <img src="/assets/arrow-right-icon-long.svg" alt="Icon" />
    </button>
  </div>
</div>
