<div class="container">
  <div class="label-wrapper">
    <h2 class="label-text">Wyniki wyszukiwania dla frazy {{searchedText}}</h2>
    <button routerLink="/create-set" (click)="goBack()" class="icon-btn">
      <img src="/assets/plus-icon.svg" alt="Icon" />
    </button>
  </div>
  <div class="search-results-container">
    <div class="result-row" *ngFor="let result of searchResults | slice:0:displayLimit" (click)="goToSet(result.id)">
      <div class="result-item">
        <div class="set-title">{{ result.setName }}</div>
        <div class="set-count">{{ result.setCount }} sets</div>
        <div class="user-info">
          <!--<img [src]="result.avatarUrl" alt="Avatar" class="user-avatar">-->
          <img [src]="result.avatarUrl" alt="Avatar" class="user-avatar">
          <div class="username">{{ result.username }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="expand-button-wrapper">
    <button class="icon-btn toggle-button" *ngIf="displayLimit <= searchResults.length" (click)="toggleItemsDisplay()">{{buttonText}}</button>
  </div>
</div>
