<div class="container">
  <div class="label-wrapper">
    <h2 class="label-text">Wyniki wyszukiwania dla frazy {{searchedText}}</h2>
    <button routerLink="/set" (click)="goBack()" class="icon-btn">
      <img src="/assets/plus-icon.svg" alt="Icon" />
    </button>
  </div>
  <div class="search-results-container">
    <div class="result-row" *ngFor="let result of searchResults | slice:0:displayLimit">
      <div class="result-item" (click)="isStudySet(result) ? goToSet(result.id) : goToGroup(result.id)">
        <div class="set-title">{{ result.name }}</div>
        <div class="set-count">
          <ng-container *ngIf="isStudySet(result)">
          <div>Zestaw fiszek</div>
            {{result.count}} {{result.count == 1 ? 'fiszka' : 'fiszek'}}
          </ng-container>
          <ng-container *ngIf="!isStudySet(result)">
          <div>Grupa</div>
            {{result.count}} {{result.count == 1 ? 'użytkownik' : 'użytkowników'}}
          </ng-container>
        </div>
        <div class="user-info">
          <img [src]="result.creator.avatar ? '/Avatars/' + result.creator.avatar : '/assets/temp-avatar.png'" alt="Avatar" class="user-avatar">
          <div class="username">{{ result.creator.username }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="expand-button-wrapper">
    <button class="icon-btn toggle-button" *ngIf="displayLimit <= searchResults.length" (click)="toggleItemsDisplay()">{{buttonText}}</button>
  </div>
</div>
